<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <connectionStrings>
    <add name="connectionString"
connectionString="Server=localhost;userid=root;password=;Database=codevoidlogin.actualdatabase"
providerName="MySql.Data.MySqlClient"/>
 </connectionStrings>
  <!--<system.net>
    <mailSettings>
      <smtp from="fromEmail" deliveryMethod="Network">
        <network defaultCredentials="false" enableSsl="true" host="smtp.gmail.com" port="587"
             userName="fromEmail" password="password"/>
      </smtp>
    </mailSettings>
  </system.net>-->
</configuration>
